@import '../../../css-config//mixins.scss';

.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .image-container {
      width: 100%;
      height: 200px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: transform 0.3s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  
    .product-info {
      padding: 20px;
      text-align: center;
  
      .product-title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
      }
  
      
      .product-price {
        font-size: 20px;
        font-weight: 600;
        color: #8e2de2;
        margin-bottom: 15px;
      }
  
      .add-to-cart-btn {
        background-color: #8e2de2;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #e67e22;
        }
      }
    }
  }
  